---
---

<center><h1> Assignment </h1></center>

---
---

#### `Instructions`

* ***You are free to use internet to refer the documentation of any library.***
* ***If required, feel free to import other libraries to do the task required.***
* ***Before making a submission, make sure that your code is commented.***

---


#### `Importing the Required Libraries`

---

In [1]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

### Reading the Data

In [2]:
import os
os.getcwdb()

b'C:\\Users\\Rohan\\Desktop\\AV Assignments\\Python'

In [3]:
data = pd.read_csv("C:\\Users\\Rohan\\Desktop\\AV Assignments\\Python\\telecom_churn.csv")

### Q 1: Have a first look at the data by observing the followings :-
* Head of the data
* Shape of the data
* Missing Values in the data 
* Datatype of all features in the data
* Identify continuous features in the data
* Identify categorical features in the data
* Analyse descriptive statistics in the data

In [4]:
### head of the data
data.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [5]:
### Shape of the data
data.shape

(3333, 20)

In [6]:
### Missing Values in the data
data.isna().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [7]:
### Datatype of all features in the data
data.dtypes

State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls             int64
Total day charge          float64
Total eve minutes         float64
Total eve calls             int64
Total eve charge          float64
Total night minutes       float64
Total night calls           int64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls      int64
Churn                        bool
dtype: object

In [8]:
### identifying continuous or categorical features in the data
data['Customer service calls'].value_counts()

1    1181
2     759
0     697
3     429
4     166
5      66
6      22
7       9
9       2
8       2
Name: Customer service calls, dtype: int64

In [9]:
### statistics in the data
data.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

### Q 2 : Convert the datatype of Churn variable into integer? What is the proportion of churning customer ?

In [10]:
### Converting churn to integer datatype
data['Churn'] = data['Churn'].astype(int)

# calculating churn rate
customer_churning_proportion = (sum(data['Churn']) / data.shape[0]) * 100
customer_churning_proportion

14.491449144914492

### Q 3 : Select the customers coming from state 'TN', identify the churning rate of such customers ?

In [11]:
### churning rate of customers coming from state 'TN'
(sum(data[data['State'] == 'TN']['Churn']) / data[data['State'] == 'TN'].shape[0]) * 100

9.433962264150944

### Q 4:  Select the data where the customers' account length  is multiple of 12?

In [12]:
### data where the customers' account length is multiple of 12
data.loc[data['Account length'] % 12 == 0]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
12,IA,168,408,No,No,0,128.8,96,21.90,104.9,71,8.92,141.1,128,6.35,11.2,2,3.02,1,0
24,VA,132,510,No,No,0,81.1,86,13.79,245.2,72,20.84,237.0,115,10.67,10.3,2,2.78,0,0
33,AZ,12,408,No,No,0,249.6,118,42.43,252.4,119,21.45,280.2,90,12.61,11.8,3,3.19,1,1
35,GA,72,415,No,Yes,37,220.0,80,37.40,217.3,102,18.47,152.8,71,6.88,14.7,6,3.97,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3284,AZ,48,415,No,Yes,27,141.1,109,23.99,224.7,94,19.10,174.3,122,7.84,13.2,2,3.56,1,0
3301,CA,84,415,No,No,0,280.0,113,47.60,202.2,90,17.19,156.8,103,7.06,10.4,4,2.81,0,1
3321,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,0
3326,OH,96,415,No,No,0,106.6,128,18.12,284.8,87,24.21,178.9,92,8.05,14.9,7,4.02,1,0
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0

### Q 5: Select the data where State's name beings with the letter W?

In [13]:
### data where State's name beings with the letter W
data.loc[data.State.str[0] == 'W']

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
9,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0
26,WY,57,408,No,Yes,39,213.0,115,36.21,191.1,112,16.24,182.7,115,8.22,9.5,3,2.57,0,0
44,WI,64,510,No,No,0,154.0,67,26.18,225.8,118,19.19,265.3,86,11.94,3.5,3,0.95,1,0
49,WY,97,415,No,Yes,24,133.2,135,22.64,217.2,58,18.46,70.6,79,3.18,11.0,3,2.97,1,0
54,WY,87,415,No,No,0,151.0,83,25.67,219.7,116,18.67,203.9,127,9.18,9.7,3,2.62,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278,WI,87,415,No,No,0,238.0,97,40.46,164.5,97,13.98,282.5,132,12.71,10.6,6,2.86,2,0
3303,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,0
3319,WY,89,415,No,No,0,115.4,99,19.62,209.9,115,17.84,280.9,112,12.64,15.9,6,4.29,3,0
3324,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,0
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0

### Q 6: Convert the datatype International plan variable into boolean?

In [15]:
data['International plan'].value_counts()

No     3010
Yes     323
Name: International plan, dtype: int64

In [16]:
### Converting the datatype International plan variable into boolean
for index, plan in enumerate(data['International plan']):
    if plan == 'Yes':
        data['International plan'].iloc[index] = True
    elif plan == 'No':
        data['International plan'].iloc[index] = False

data['International plan'] = data['International plan'].astype(bool)

In [17]:
data.dtypes

State                      object
Account length              int64
Area code                   int64
International plan           bool
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls             int64
Total day charge          float64
Total eve minutes         float64
Total eve calls             int64
Total eve charge          float64
Total night minutes       float64
Total night calls           int64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls      int64
Churn                       int32
dtype: object

### Q 7: Generate additional feature named F_X such that :-
* International plan is True then the value of F_X is 1
* If International plan is False and Account Length is more than the average Account length then F_X is 1
* If Number vmail messages is greater than 75th percentile and Customer Service calls is greater than 1 then F_X is 1
* In all other cases F_X is 0

In [18]:
# calculating average account length, vmail_messages_75_percentile
average_account_length = data['Account length'].mean()
vmail_messages_75_percentile = data['Number vmail messages'].quantile(0.75)

In [19]:
# resetting index of the dataframe
data.reset_index(drop=True)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,False,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,False,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,False,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,True,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,True,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,False,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,False,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,False,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,True,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,False,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [20]:
#instantiating F_X column
data['F_X'] = pd.Series(dtype=float)

In [21]:
#setting F_X column based on conditions
for index in range(data.shape[0]):
    if data.loc[index, 'International plan']:
        data.loc[index, 'F_X'] = 1
    elif data.loc[index, 'International plan'] == False and data.loc[index, 'Account length'] > average_account_length:
        data.loc[index, 'F_X'] = 1
    elif data.loc[index, 'Number vmail messages'] > vmail_messages_75_percentile and \
                            data.loc[index, 'Customer service calls'] > 1:
        data.loc[index, 'F_X'] = 1
    else:
        data.loc[index, 'F_X'] = 0
        
data.F_X = data.F_X.astype(int)

In [22]:
# testing for a condition -- must have only 1 as value
data[(data['Number vmail messages'] > vmail_messages_75_percentile) & (data['Customer service calls'] > 1)]['F_X'].value_counts()

1    349
Name: F_X, dtype: int64

In [23]:
average_account_length, vmail_messages_75_percentile

(101.06480648064806, 20.0)

In [24]:
# testing visually 5 samples from the data
data.sample(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,F_X
1742,HI,79,415,False,No,0,41.9,124,7.12,211.0,...,17.94,237.9,55,10.71,11.4,5,3.08,1,0,0
2634,AL,102,415,False,No,0,123.1,106,20.93,182.0,...,15.47,244.6,75,11.01,12.6,7,3.40,2,0,1
300,MD,67,415,False,No,0,171.7,80,29.19,110.4,...,9.38,195.4,111,8.79,11.9,4,3.21,2,0,0
3227,NY,209,415,False,No,0,153.7,105,26.13,188.6,...,16.03,200.8,95,9.04,10.7,2,2.89,0,0,1
3276,OR,142,510,False,Yes,22,224.4,114,38.15,146.0,...,12.41,241.4,98,10.86,8.8,2,2.38,1,0,1