### Q1) Write a function to multiply all the numbers in a list.

In [2]:
def multiplyList(myList) :
     
    # Multiply elements one by one
    result = 1
    for x in myList:
         result = result * x
    return result
     

list1 = [4, 5, 6]
list2 = [2, 3, 4]
print(multiplyList(list1))
print(multiplyList(list2))

120
24

### Q2) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [3]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 7
5040

### Q3) Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [4]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('Welcome To Data Science Bootcamp')

Original String :  Welcome To Data Science Bootcamp
No. of Upper case characters :  5
No. of Lower case Characters :  23

### Q4) Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [ ]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

### Q5) Write a Python program to print the even numbers from a given list.

In [5]:
# list of numbers
list1 = [15,32,45,65,43,42,56]
  
# using list comprehension
even_nos = [num for num in list1 if num % 2 == 0]
  
print("Even numbers in the list: ", even_nos)

Even numbers in the list:  [32, 42, 56]

### Q6) Write a function to remove all duplicates from a given string.

In [6]:
def remove_duplicates(value):
    var=""
    for i in value:
        if i in value:
            if i in var:
                pass
            else:
                var=var+i
    return var

print(remove_duplicates("Welcome To Data Science Bootcamp"))

Welcom TDatSinBp